
@model BilleterieParis2024.Models.TicketsOffers

@{
    ViewData["Title"] = "Mise à jour de l'offre";
}
<h2>@ViewData["Title"]</h2>
<hr />

<div class="row justify-content-center align-items-center">
    <div class="col-8">

        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group row mb-2 mt-5">
                <div class="col-4">
                    <label asp-for="OfferName" class="control-label "></label>
                </div>
                <div class="col-8">
                    <input asp-for="OfferName" class="form-control" />
                </div>

                <span asp-validation-for="OfferName" class="text-danger"></span>
            </div>
            <div class="form-group row mb-2">
                <div class="col-4">
                    <label asp-for="Price" class="control-label "></label>
                </div>
                <div class="col-8">
                    <input asp-for="Price" class="form-control" />
                </div>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group row mb-2">
                <div class="col-4">
                    <label asp-for="IsAvailable"></label>
                </div>
                <div class="col-8">
                    <input asp-for="IsAvailable" class="" type="checkbox" />
                </div>
                <span asp-validation-for="IsAvailable" class="text-danger"></span>
            </div>

           @*  <div class="form-group row mb-2">
                <div class="col-4">
                    <label asp-for="Image"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Image" class="form-control" type="file" />
                </div>
            </div> *@

            <div class="form-group row mb-2">
                <div class="col-4">
                    <label>Image</label>
                </div>
                <div class="col-8">
                    <input name="ImageFile" type="file" />
                </div>                
                    <input type="hidden" name="Image" id="Image" asp-for="@Model.Image" class="form-control" />


            </div>
            <div class="form-group row justify-content-center align-content-center mt-4">
                <input type="submit" value="Sauvegarder" class="btn btn-primary col-3 mx-2" />

                <a class="btn btn-success col-3" asp-action="Index">Retour à la liste</a>
            </div>
        </form>
    </div>
    <div class="col-1"></div>
    <div class="col-3">
        <img src="~/@Model.Image" width="100%" height="250px" style="border-radius: 5px;border: 1px solid #efefef"/>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/alertify.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var save = '@TempData["edit"]';
            if (save != '') {
                alertify.success(save);
            }
        })
    </script>

}
