@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <section class="hero-image hero-image-evenements">
        <div class=" mx-auto text-center col-md-10">
            <h1 class="text-uppercase">Billeterie des Jeux Olympiques Paris 2024</h1>
            <h2>Bienvenue sur la billetterie des Jeux Olympiques et Paralympiques de Paris 2024 ! Pour vous connecter à votre compte ou en créer un, cliquez sur "Se connecter". </h2>
        </div>
    </section>
</div>
