@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <section class="hero-image hero-image-evenements">
        <div class=" mx-auto text-center col-md-10">
            <h1 class="text-uppercase">Billeterie des Jeux Olympiques Paris 2024</h1>
            <h2>Bienvenue sur la billetterie des Jeux Olympiques et Paralympiques de Paris 2024 ! Pour vous connecter à votre compte ou en créer un, cliquez sur "Se connecter". </h2>
        </div>
    </section>

    <section>
        <h2 class="text-uppercase text-start ">Présentation des Jeux olympiques</h2>
        <hr class="mb-5">
        <img class="rounded-3 mb-3" src="images/olympic-games-paris-2024-presentation2.jpg" alt="presentation olympic games paris 2024 " title=" presentation olympic games paris 2024 " />
        <p>Duis lobortis nulla nec orci dignissim lobortis. Phasellus ultricies pellentesque urna eu suscipit. Nunc quis varius lorem. Mauris id arcu et sem commodo accumsan. Vestibulum egestas nulla est, iaculis convallis elit tempor et. Donec eu nisi arcu. Vestibulum eu suscipit ante, ac egestas lectus. Phasellus id nisl dignissim, rhoncus tortor quis, congue magna. Cras sem ipsum, cursus in interdum et, faucibus sed mauris. Praesent tempus sem lectus, non porta nunc tincidunt sed. Aliquam ex magna, vulputate sed orci vitae, rhoncus lacinia felis. Cras sit amet suscipit massa, eu rutrum ligula. Duis fringilla eu purus in sollicitudin. Proin id ultrices lorem, vel faucibus mauris.</p>
        <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; In lorem urna, pharetra at scelerisque ut, porttitor et risus. Vestibulum quis lacinia orci, sed pretium nunc. Nulla facilisi. In luctus arcu ullamcorper dapibus hendrerit. Nullam porta elit erat, non convallis est pellentesque quis. Pellentesque auctor ante vel mauris sodales, ornare convallis arcu vulputate. Sed ac viverra metus, ac aliquam ligula. Duis auctor fringilla iaculis. Aliquam luctus ex diam. Morbi leo nibh, rutrum vel massa non, ultrices hendrerit leo. Integer feugiat egestas nulla. Cras nibh nunc, iaculis vel nulla sit amet, hendrerit viverra neque. Quisque fermentum laoreet interdum.</p>
        <p>Pellentesque auctor ante vel mauris sodales, ornare convallis arcu vulputate. Phasellus ultricies pellentesque urna eu suscipit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; In lorem urna, pharetra at scelerisque ut.
    </section>
</div>
