@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmation mot de passe oublié";
}

<section>
<h2>@ViewData["Title"]</h2>
<p>
    Veuillez vérifier votre boite mail pour réinitialiser le mot de passe.
</p>
</section>
