@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmation de votre compte";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Aucun fournisseur d'email a été configuré pour cette application.' <a href="https://aka.ms/aspaccountconf">ce document</a> pour voir comment configurer un fournisseur email.
     <a id="confirm-link" href="@Model.EmailConfirmationUrl">Cliquez ici pour confirmer votre compte</a>
</p>
    }
    else
    {
<p>
        Veuillez vérifier votre email pour confirmer la création de votre compte.
</p>
    }
}

