@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Réinitialisation du mot de passe";
}

<h2>@ViewData["Title"]</h2>
<p>
    Votre mot de passe a été réinitialisé. Veuillez <a asp-page="./Login">cliquer ici pour vous connecter</a>.
</p>
