@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <section class="hero-image hero-image-evenements">
        <div class=" mx-auto text-center col-md-10">
            <h1 class="text-uppercase">Billeterie des Jeux Olympiques Paris 2024</h1>
            <h2>Bienvenue sur la billetterie des Jeux Olympiques et Paralympiques de Paris 2024 ! Pour vous connecter à votre compte ou en créer un, cliquez sur "Se connecter". </h2>
        </div>
    </section>

    <section>
        <h2 class="text-uppercase text-start ">Présentation des Jeux olympiques</h2>
        <hr class="mb-5">
        <img class="rounded-3 mb-3" src="images/olympic-games-paris-2024-presentation2.jpg" alt="presentation olympic games paris 2024 " title=" presentation olympic games paris 2024 " />
        <p>Duis lobortis nulla nec orci dignissim lobortis. Phasellus ultricies pellentesque urna eu suscipit. Nunc quis varius lorem. Mauris id arcu et sem commodo accumsan. Vestibulum egestas nulla est, iaculis convallis elit tempor et. Donec eu nisi arcu. Vestibulum eu suscipit ante, ac egestas lectus. Phasellus id nisl dignissim, rhoncus tortor quis, congue magna. Cras sem ipsum, cursus in interdum et, faucibus sed mauris. Praesent tempus sem lectus, non porta nunc tincidunt sed. Aliquam ex magna, vulputate sed orci vitae, rhoncus lacinia felis. Cras sit amet suscipit massa, eu rutrum ligula. Duis fringilla eu purus in sollicitudin. Proin id ultrices lorem, vel faucibus mauris.</p>
        <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; In lorem urna, pharetra at scelerisque ut, porttitor et risus. Vestibulum quis lacinia orci, sed pretium nunc. Nulla facilisi. In luctus arcu ullamcorper dapibus hendrerit. Nullam porta elit erat, non convallis est pellentesque quis. Pellentesque auctor ante vel mauris sodales, ornare convallis arcu vulputate. Sed ac viverra metus, ac aliquam ligula. Duis auctor fringilla iaculis. Aliquam luctus ex diam. Morbi leo nibh, rutrum vel massa non, ultrices hendrerit leo. Integer feugiat egestas nulla. Cras nibh nunc, iaculis vel nulla sit amet, hendrerit viverra neque. Quisque fermentum laoreet interdum.</p>
        <p>Pellentesque auctor ante vel mauris sodales, ornare convallis arcu vulputate. Phasellus ultricies pellentesque urna eu suscipit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; In lorem urna, pharetra at scelerisque ut.
    </section>

    <section class="mt-5">
        <h2 class="text-uppercase text-start">Les épreuves</h2>
        <hr class="mb-5">
    </section>

    <section>
        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <div class="row row-cols-sm-2 row-cols-md-3 row-cols-1">
                        <article class="col">
                            <div class="card mb-5  ">
                                <img src="images/football-paris2024.jpg" class="card-img-top " title="olympic games paris 2024 - football" alt="olympic games paris 2024 - footbal">
                                <div class="card-body">
                                    <h4 class="card-title text-center">Football</h4>
                                    <p class="card-text">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                                            <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10" />
                                            <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                                        </svg>
                                        Paris Marseille Nantes
                                    </p>
                                    <p class="card-text">
                                        <svg class="bi bi-calendar-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0 2a2 2 0 012-2h12a2 2 0 012 2H0z"></path>
                                            <path fill-rule="evenodd" d="M0 3h16v11a2 2 0 01-2 2H2a2 2 0 01-2-2V3zm6.5 4a1 1 0 100-2 1 1 0 000 2zm4-1a1 1 0 11-2 0 1 1 0 012 0zm2 1a1 1 0 100-2 1 1 0 000 2zm-8 2a1 1 0 11-2 0 1 1 0 012 0zm2 1a1 1 0 100-2 1 1 0 000 2zm4-1a1 1 0 11-2 0 1 1 0 012 0zm2 1a1 1 0 100-2 1 1 0 000 2zm-8 2a1 1 0 11-2 0 1 1 0 012 0zm2 1a1 1 0 100-2 1 1 0 000 2zm4-1a1 1 0 11-2 0 1 1 0 012 0z" clip-rule="evenodd"></path>
                                        </svg>
                                        24 juillet - 10 août
                                    </p>
                                    <p class="card-text">
                                        In urna lorem, maximus vitae dolor in, ullamcorper maximus purus. Mauris lacus mauris, facilisis vel mattis ac, blandit rutrum ante.
                                        Ac pellentesque odio sodales. Nam vel elit non dui eleifend dapibus massa.<br>
                                    </p>
                                </div>
                            </div>
                        </article>
                        <article class="col">
                            <div class="card mb-5">
                                <img src="images/athletisme-paris2024.jpg" class="card-img-top " title="olympic games paris 2024 - Athletics" alt="olympic games paris 2024 - Athletics">
                                <div class="card-body">
                                    <h4 class="card-title text-center">Athletisme </h4>
                                    <p class="card-text">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                                            <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10" />
                                            <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                                        </svg>
                                        Stade Saint-Denis
                                    </p>
                                    <p class="card-text">
                                        <svg class="bi bi-calendar-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0 2a2 2 0 012-2h12a2 2 0 012 2H0z"></path>
                                            <path fill-rule="evenodd" d="M0 3h16v11a2 2 0 01-2 2H2a2 2 0 01-2-2V3zm6.5 4a1 1 0 100-2 1 1 0 000 2zm4-1a1 1 0 11-2 0 1 1 0 012 0zm2 1a1 1 0 100-2 1 1 0 000 2zm-8 2a1 1 0 11-2 0 1 1 0 012 0zm2 1a1 1 0 100-2 1 1 0 000 2zm4-1a1 1 0 11-2 0 1 1 0 012 0zm2 1a1 1 0 100-2 1 1 0 000 2zm-8 2a1 1 0 11-2 0 1 1 0 012 0zm2 1a1 1 0 100-2 1 1 0 000 2zm4-1a1 1 0 11-2 0 1 1 0 012 0z" clip-rule="evenodd"></path>
                                        </svg>
                                        01 août - 11 août
                                    </p>
                                    <p class="card-text">
                                        Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                        laboris nisi ut aliquip ex ea commodo consequat.<br>
                                    </p>
                                </div>
                            </div>
                        </article>
                        <article class="col">
                            <div class="card mb-5">
                                <img src="images/judo-paris2024.jpg" class="card-img-top " title="olympic games paris 2024 - judo" alt="olympic games paris 2024 - judo">
                                <div class="card-body">
                                    <h4 class="card-title text-center">Judo</h4>
                                    <p class="card-text">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                                            <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10" />
                                            <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                                        </svg>
                                        Arena Champ-de-Mars
                                    </p>
                                    <p class="card-text">
                                        <svg class="bi bi-calendar-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0 2a2 2 0 012-2h12a2 2 0 012 2H0z"></path>
                                            <path fill-rule="evenodd" d="M0 3h16v11a2 2 0 01-2 2H2a2 2 0 01-2-2V3zm6.5 4a1 1 0 100-2 1 1 0 000 2zm4-1a1 1 0 11-2 0 1 1 0 012 0zm2 1a1 1 0 100-2 1 1 0 000 2zm-8 2a1 1 0 11-2 0 1 1 0 012 0zm2 1a1 1 0 100-2 1 1 0 000 2zm4-1a1 1 0 11-2 0 1 1 0 012 0zm2 1a1 1 0 100-2 1 1 0 000 2zm-8 2a1 1 0 11-2 0 1 1 0 012 0zm2 1a1 1 0 100-2 1 1 0 000 2zm4-1a1 1 0 11-2 0 1 1 0 012 0z" clip-rule="evenodd"></path>
                                        </svg>
                                        27 juillet - 03 août
                                    </p>
                                    <p class="card-text">
                                        Odio odio consectetur sed odio felis elit nulla tempor. Nisi proin ultrices augue libero, fermentum. Justo, et sagittis pharetra sapien, potenti arcu ornare velit massa. Eget varius ut tempor, nascetur sed posuere.<br>
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <div class="row row-cols-sm-2 row-cols-md-3 row-cols-1">
                        <article class="col">
                            <div class="card mb-5  ">
                                <img src="images/escalade-paris2024.jpg" class="card-img-top " title="olympic games paris 2024 - Escalade" alt="olympic games paris 2024 - Escalade">
                                <div class="card-body">
                                    <h4 class="card-title text-center">Escalade</h4>
                                    <p class="card-text">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                                            <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10" />
                                            <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                                        </svg>
                                        Site d'escalade Bourget
                                    </p>
                                    <p class="card-text">
                                        <svg class="bi bi-calendar-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0 2a2 2 0 012-2h12a2 2 0 012 2H0z"></path>
                                            <path fill-rule="evenodd" d="M0 3h16v11a2 2 0 01-2 2H2a2 2 0 01-2-2V3zm6.5 4a1 1 0 100-2 1 1 0 000 2zm4-1a1 1 0 11-2 0 1 1 0 012 0zm2 1a1 1 0 100-2 1 1 0 000 2zm-8 2a1 1 0 11-2 0 1 1 0 012 0zm2 1a1 1 0 100-2 1 1 0 000 2zm4-1a1 1 0 11-2 0 1 1 0 012 0zm2 1a1 1 0 100-2 1 1 0 000 2zm-8 2a1 1 0 11-2 0 1 1 0 012 0zm2 1a1 1 0 100-2 1 1 0 000 2zm4-1a1 1 0 11-2 0 1 1 0 012 0z" clip-rule="evenodd"></path>
                                        </svg>
                                        05 août - 10 août
                                    </p>
                                    <p class="card-text">
                                        In urna lorem, maximus vitae dolor in, ullamcorper maximus purus. Mauris lacus mauris, facilisis vel mattis ac, blandit rutrum ante.
                                        Ac pellentesque odio sodales. Nam vel elit non dui eleifend dapibus massa.<br>
                                    </p>
                                </div>
                            </div>
                        </article>
                        <article class="col">
                            <div class="card mb-5">
                                <img src="images/escrime-paris2024.jpg" class="card-img-top " title="olympic games paris 2024 - Escrime" alt="olympic games paris 2024 - Escrime">
                                <div class="card-body">
                                    <h4 class="card-title text-center">Escrime </h4>
                                    <p class="card-text">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                                            <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10" />
                                            <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                                        </svg>
                                        Grand Palais
                                    </p>
                                    <p class="card-text">
                                        <svg class="bi bi-calendar-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0 2a2 2 0 012-2h12a2 2 0 012 2H0z"></path>
                                            <path fill-rule="evenodd" d="M0 3h16v11a2 2 0 01-2 2H2a2 2 0 01-2-2V3zm6.5 4a1 1 0 100-2 1 1 0 000 2zm4-1a1 1 0 11-2 0 1 1 0 012 0zm2 1a1 1 0 100-2 1 1 0 000 2zm-8 2a1 1 0 11-2 0 1 1 0 012 0zm2 1a1 1 0 100-2 1 1 0 000 2zm4-1a1 1 0 11-2 0 1 1 0 012 0zm2 1a1 1 0 100-2 1 1 0 000 2zm-8 2a1 1 0 11-2 0 1 1 0 012 0zm2 1a1 1 0 100-2 1 1 0 000 2zm4-1a1 1 0 11-2 0 1 1 0 012 0z" clip-rule="evenodd"></path>
                                        </svg>
                                        27 juillet - 04 août
                                    </p>
                                    <p class="card-text">
                                        Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                        laboris nisi ut aliquip ex ea commodo consequat.<br>
                                    </p>
                                </div>
                            </div>
                        </article>
                        <article class="col">
                            <div class="card mb-5">
                                <img src="images/gymnastic-paris2024.jpg" class="card-img-top " title="olympic games paris 2024 - Gymnastique" alt="olympic games paris 2024 - Gymnastique">
                                <div class="card-body">
                                    <h4 class="card-title text-center">Gymnastique</h4>
                                    <p class="card-text">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                                            <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10" />
                                            <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                                        </svg>
                                        Arena Bercy
                                    </p>
                                    <p class="card-text">
                                        <svg class="bi bi-calendar-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0 2a2 2 0 012-2h12a2 2 0 012 2H0z"></path>
                                            <path fill-rule="evenodd" d="M0 3h16v11a2 2 0 01-2 2H2a2 2 0 01-2-2V3zm6.5 4a1 1 0 100-2 1 1 0 000 2zm4-1a1 1 0 11-2 0 1 1 0 012 0zm2 1a1 1 0 100-2 1 1 0 000 2zm-8 2a1 1 0 11-2 0 1 1 0 012 0zm2 1a1 1 0 100-2 1 1 0 000 2zm4-1a1 1 0 11-2 0 1 1 0 012 0zm2 1a1 1 0 100-2 1 1 0 000 2zm-8 2a1 1 0 11-2 0 1 1 0 012 0zm2 1a1 1 0 100-2 1 1 0 000 2zm4-1a1 1 0 11-2 0 1 1 0 012 0z" clip-rule="evenodd"></path>
                                        </svg>
                                        27 juillet - 05 août
                                    </p>
                                    <p class="card-text">
                                        Odio odio consectetur sed odio felis elit nulla tempor. Nisi proin ultrices augue libero, fermentum. Justo, et sagittis pharetra sapien, potenti arcu ornare velit massa. Eget varius ut tempor, nascetur sed posuere.<br>
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row row-cols-sm-2 row-cols-md-3 row-cols-1">
                        <article class="col">
                            <div class="card mb-5  ">
                                <img src="images/equitation-paris2024.jpg" class="card-img-top " title="olympic games paris 2024 - Equitation" alt="olympic games paris 2024 - Equitation">
                                <div class="card-body">
                                    <h4 class="card-title text-center">Sports équestres</h4>
                                    <p class="card-text">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                                            <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10" />
                                            <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                                        </svg>
                                        Château de Versailles
                                    </p>
                                    <p class="card-text">
                                        <svg class="bi bi-calendar-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0 2a2 2 0 012-2h12a2 2 0 012 2H0z"></path>
                                            <path fill-rule="evenodd" d="M0 3h16v11a2 2 0 01-2 2H2a2 2 0 01-2-2V3zm6.5 4a1 1 0 100-2 1 1 0 000 2zm4-1a1 1 0 11-2 0 1 1 0 012 0zm2 1a1 1 0 100-2 1 1 0 000 2zm-8 2a1 1 0 11-2 0 1 1 0 012 0zm2 1a1 1 0 100-2 1 1 0 000 2zm4-1a1 1 0 11-2 0 1 1 0 012 0zm2 1a1 1 0 100-2 1 1 0 000 2zm-8 2a1 1 0 11-2 0 1 1 0 012 0zm2 1a1 1 0 100-2 1 1 0 000 2zm4-1a1 1 0 11-2 0 1 1 0 012 0z" clip-rule="evenodd"></path>
                                        </svg>
                                        27 juillet - 06 août
                                    </p>
                                    <p class="card-text">
                                        In urna lorem, maximus vitae dolor in, ullamcorper maximus purus. Mauris lacus mauris, facilisis vel mattis ac, blandit rutrum ante.
                                        Ac pellentesque odio sodales. Nam vel elit non dui eleifend dapibus massa.<br>
                                    </p>
                                </div>
                            </div>
                        </article>
                        <article class="col">
                            <div class="card mb-5">
                                <img src="images/skate-paris2024.jpg" class="card-img-top " title="olympic games paris 2024 - Skate" alt="olympic games paris 2024 - Skate">
                                <div class="card-body">
                                    <h4 class="card-title text-center">Skateboard </h4>
                                    <p class="card-text">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                                            <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10" />
                                            <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                                        </svg>
                                        La Concorde 3
                                    </p>
                                    <p class="card-text">
                                        <svg class="bi bi-calendar-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0 2a2 2 0 012-2h12a2 2 0 012 2H0z"></path>
                                            <path fill-rule="evenodd" d="M0 3h16v11a2 2 0 01-2 2H2a2 2 0 01-2-2V3zm6.5 4a1 1 0 100-2 1 1 0 000 2zm4-1a1 1 0 11-2 0 1 1 0 012 0zm2 1a1 1 0 100-2 1 1 0 000 2zm-8 2a1 1 0 11-2 0 1 1 0 012 0zm2 1a1 1 0 100-2 1 1 0 000 2zm4-1a1 1 0 11-2 0 1 1 0 012 0zm2 1a1 1 0 100-2 1 1 0 000 2zm-8 2a1 1 0 11-2 0 1 1 0 012 0zm2 1a1 1 0 100-2 1 1 0 000 2zm4-1a1 1 0 11-2 0 1 1 0 012 0z" clip-rule="evenodd"></path>
                                        </svg>
                                        27 juillet - 07 août
                                    </p>
                                    <p class="card-text">
                                        Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                        laboris nisi ut aliquip ex ea commodo consequat.<br>
                                    </p>
                                </div>
                            </div>
                        </article>
                        <article class="col">
                            <div class="card mb-5">
                                <img src="images/boxe-paris2024.jpg" class="card-img-top " title="olympic games paris 2024 - boxe" alt="olympic games paris 2024 - boxe">
                                <div class="card-body">
                                    <h4 class="card-title text-center">Boxe</h4>
                                    <p class="card-text">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                                            <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10" />
                                            <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                                        </svg>
                                        Arena Paris Nord
                                    </p>
                                    <p class="card-text">
                                        <svg class="bi bi-calendar-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0 2a2 2 0 012-2h12a2 2 0 012 2H0z"></path>
                                            <path fill-rule="evenodd" d="M0 3h16v11a2 2 0 01-2 2H2a2 2 0 01-2-2V3zm6.5 4a1 1 0 100-2 1 1 0 000 2zm4-1a1 1 0 11-2 0 1 1 0 012 0zm2 1a1 1 0 100-2 1 1 0 000 2zm-8 2a1 1 0 11-2 0 1 1 0 012 0zm2 1a1 1 0 100-2 1 1 0 000 2zm4-1a1 1 0 11-2 0 1 1 0 012 0zm2 1a1 1 0 100-2 1 1 0 000 2zm-8 2a1 1 0 11-2 0 1 1 0 012 0zm2 1a1 1 0 100-2 1 1 0 000 2zm4-1a1 1 0 11-2 0 1 1 0 012 0z" clip-rule="evenodd"></path>
                                        </svg>
                                        27 juillet - 10 août
                                    </p>
                                    <p class="card-text">
                                        Odio odio consectetur sed odio felis elit nulla tempor. Nisi proin ultrices augue libero, fermentum. Justo, et sagittis pharetra sapien, potenti arcu ornare velit massa. Eget varius ut tempor, nascetur sed posuere.<br>
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                @* <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
                </button> *@
            </div>
        </div>
    </section>
</div>
