@{
    ViewData["Title"] = "Politique de confidentialité";
}
<h2>@ViewData["Title"]</h2>
<hr />
<div class="row p-2 my-4">
    <p>Le COMITE D'ORGANISATION DES JEUX OLYMPIQUES ET PARALYMPIQUES DE PARIS 2024 (ci-après « <b>Paris 2024</b> ») s’engage à respecter votre vie privée et à veiller à la protection de vos données à caractère personnel lorsque vous utilisez les plateformes de billetterie des Jeux Olympiques Paris2024. A ce titre, Paris 2024 s’engage à assurer une protection adéquate des données à caractère personnel qu’il pourrait être amené à traiter pour la poursuite des finalités décrites ci-après.  </p>
    <p>Une donnée à caractère personnel telle qu’elle est définie dans la règlementation relative à la protection des données (Règlement Général sur la Protection des Données N°2016/679 du 27 avril 2016 et loi N°78/17 du 6 janvier 1978 modifiée) consiste en toute information permettant de vous identifier directement ou indirectement en tant que personne physique. .
    <p> Une donnée à caractère personnel telle qu’elle est définie dans la règlementation relative à la protection des données (Règlement Général sur la Protection des Données N°2016/679 du 27 avril 2016 et loi N°78/17 du 6 janvier 1978 modifiée) consiste en toute information permettant de vous identifier directement ou indirectement en tant que personne physique. </p>
    <p>La présente Politique de Confidentialité (ci-après la « Politique de Confidentialité ») s’applique aux traitements de données à caractère personnel réalisés dans le cadre de l’utilisation de de la Plateforme. Elle indique :</p>


    <h4 class="p-font font-size-xxl u-font-weight-600" >1. Qui est le responsable du traitement de vos données à caractère personnel ?  </h4>

    <p>Nous vous informons que vos données personnelles collectées sur cette plateforme et lors de nos interactions sont traitées par le Comité d’Organisation des jeux olympiques et Paralympiques de Paris 2024, ci après paris 2024, dont le siège socialest situé au 46 rue Proudhon 93210 Saint-Denis (France), en tant que responsable du traitement. </p>
    <p>Ces données sont mises à disposition de nos prestataires de services techniques (« sous-traitants » au sens de la réglementation) pour les besoins stricts de leur mission et conformément à nos instructions, notamment dans les domaines informatiques (éditeurs de logiciels hébergés, services de développement de plateformes informatiques, services d’hébergement, gestion de la relation client (CRM) et autres services de communication, services d’analyse et de mesure, services de communication par e-mail et notifications push, services Internet sur lesquels nous diffusons nos annonces, etc.). Pour plus d’informations, veuillez-vous référer à la Section 6 « Destinataires ». </p>

    <p>Paris 2024 et le Comité International Olympique (ci-après « CIO »), dont le siège est 1007 Lausanne (Suisse), sont Responsable conjoints des Traitements pour les activités liées au système d’authentification unique dans le cadre de la création d’un compte, de la gestion des accès et de l’authentification. Pour plus d’information, se référer à la Politique de Confidentialité Paris 2024 <a href="https://help.paris2024.org/contents/Politique-de-confidentialite-Paris-2024-aHSSm1RL" target="_blank">accessible ici </a> </p>
    <p>En outre, vos données sont également destinées à être utilisées par le CIO et le Comité international paralympique, qui les utilisent en tant que contrôleurs de données distincts pour mieux comprendre leurs fans, évaluer les performances des propriétés digitales ou des activités liées aux Jeux olympiques ou paralympiques, personnaliser respectivement leurs services, produits et activités de marketing et, lorsque vous avez donné votre consentement, vous envoyer du marketing direct, y compris du marketing lié à leurs produits, services et partenaires. Ils vous informent, conformément à leurs obligations, de leurs propres finalités d'utilisation de vos données et de la manière dont ils utilisent vos données au travers de leurs politiques de confidentialité respectives. </p>
    Vos données personnelles peuvent également être, pour tout ou partie, transmises à des tiers qui peuvent les utiliser pour les besoins spécifiques de leurs interventions (avocats, huissiers, comptables, etc.) en qualité de responsables de traitement, distincts ou conjoints de Paris 2024. </p>
    <p>Les données traitées par les responsables de traitement mentionnés ci-dessus pourront faire l’objet d’une transmission à titre d’héritage des Jeux (CNOSF, ANS, CIO) à des fins d’analyses statistiques de la fréquentation des Jeux en lien avec les activités de Billetterie, en qualité de responsables de traitement ultérieurs. Cette transmission sera réalisée dans le respect des règles applicables à la protection des données à caractère personnel. Pour plus d’informations, se référer à la Section 5 “Destinataires”.   </p>

    <h4 class="p-font font-size-xxl u-font-weight-600" id="processing">2. Origine des vos informations personnelles et personnes concernées </h4>

    <div class="a"><p><b>2.1 Catégories de personnes concernées </b> </p></div>
    Les personnes concernées sont mentionnées dans les catégories suivantes dans le document :
    <ul>
    <li>« Acheteur » désigne toute Personne ayant acquis légitimement un Billet auprès des seules sources autorisées de distribution de Billets, c’est-à-dire, Paris 2024 ou toute Personne expressément désignée par Paris 2024 que ce soit individuellement, dans un Pack ou un Package d’Hospitalité.  </li>

    <li>« Porteur de Billet » désigne toute personne physique légitime détentrice d’un Billet. Le Porteur de Billet peut être (i) l’Acheteur du Billet l’ayant acquis auprès de Paris 2024, du Fournisseur Officiel d’Hospitalité de Paris 2024, ou sur la Plateforme de revente ou (ii) la Personne pour qui l’Acheteur a acquis le Billet ou (iii) une Personne à laquelle un Billet a été transféré (iv) le bénéficiaire auquel une personne morale a attribué un Billet, le cas échéant ; en toute hypothèse, que le Billet ait été acquis seul ou dans le cadre d’un Pack ou d’un Package d’Hospitalité ;  </li>

    <li> « Acquéreur » désigne la personne se rendant acquéreur sur la présente Plateforme de revente d’un Billet Eligible ; </li>

    <li> « Utilisateur » désigne toute personne accédant à la Plateforme de revente (notamment au site internet ou à l’application de ladite plateforme), ainsi que toute personne recourant aux services de la plateforme, en ce compris l’Acquéreur et le Vendeur ; </li>

    <li> « Vendeur » désigne toute personne ayant acquis légitimement un Billet éligible et qui le propose à la vente sur la Plateforme de revente ; </li>

    <li>« Volontaire » désigne une personne qui a accepté une mission de volontariat pendant les jeux </li>

    </ul>
    <div class="a"><p><b>2.2 Origine de vos données</b> </p></div>

    <b> Billets olympiques et paralympiques grand public</b>

    <p>Lorsque vous vous connectez au Site de billetterie ou à l'Application pour acheter directement un ou plusieurs billets, vos données personnelles sont directement fournies par vous, et sont donc collectées et traitées par Paris 2024 pour répondre aux finalités précisées à la Section 3 ci-dessous. L’Acheteur ou le Porteur de Billet peut transférer son billet à un Porteur ultérieur depuis l’Application. En cas de transfert de billet, l'Acheteur ou Porteur initial peut céder le billet à un bénéficiaire de son choix via la fonctionnalité de transfert de l'application : les données personnelles du bénéficiaire final seront transmises à Paris 2024 dès qu'il aura accepté le billet. La possibilité d'accepter le billet sera proposée depuis l'Application de billetterie, après avoir cliqué sur le lien de téléchargement. Le traitement des données personnelles du destinataire final du Billet est ensuite réalisé par Paris 2024 pour les finalités précisées à l’article 3 ci-dessous et conformément à la présente Politique de Confidentialité. </p>
    </ul>
    <b> Billets fournis par les parties prenantes des jeux Olympiques et Paralympiques </b>
    <p>Paris 2024 propose à certains organismes partenaires (ci-après les « Parties Prenantes ») de commander des billets par lot et de les attribuer aux porteurs de billets de leur choix. Le cas échéant, la Partie Prenante procède à la première collecte des données personnelles des bénéficiaires sous sa propre responsabilité, en tant que responsable du traitement, et transmet ces données personnelles à Paris 2024. Il appartient à la partie prenante des jeux d'informer les Porteurs de billets des données personnelles qu'il collecte et transmet à Paris 2024. Après avoir reçu les informations personnelles des bénéficiaires de la part de la Partie Prenante, Paris 2024 enverra au Porteur final un lien de téléchargement lui permettant de télécharger le billet sur le site Internet de Paris 2024. Les données personnelles du Porteur de Billet sont ensuite collectées et traitées par Paris 2024 pour les finalités précisées à la Section 3 ci-dessous et conformément à la présente Politique de Confidentialité.<br><br>En cas de transfert ultérieur du billet par le Porteur du Billet vers un autre bénéficiaire, la collecte et le traitement des données personnelles du nouveau Porteur par Paris 2024 sont effectués pour les finalités précisées à l'article 3 ci-dessous et conformément à la présente Politique de Confidentialité.  </p>
    <br>
    <b> Portail de billetterie des groupes </b>
    <p>Paris 2024 permet à certains Groupes de commander des billets et de les attribuer aux Bénéficiaires de leur choix. Le représentant du Groupe possède un compte sur la Plateforme Paris 2024 et procède à la sélection des Porteurs de billet. Il est de la responsabilité du Groupe d'informer les Porteurs de billet des données personnelles qu'il collecte et partage avec Paris 2024. Le Groupe enverra un lien de téléchargement au Détenteur du billet lui permettant de télécharger le billet via l'Application. Une fois le billet accepté, les données personnelles du bénéficiaire seront collectées et traitées par Paris 2024 pour les finalités précisées à la Section 3 ci-dessous et conformément à la présente Politique de confidentialité. </p>
    <br>
    <b> Portail de revente de billet  </b>
    <p>La plateforme de revente de billet permet la revente de billets par les Acheteurs. Le traitement des données personnelles des Vendeurs et des Acquéreurs de billets est alors effectué par Paris 2024 pour les finalités précisées à la Section 3 ci-dessous et conformément à la présente Politique de confidentialité. Les Vendeurs qui publient une offre de revente de leurs billets ou qui souhaitent acheter un billet sur la plateforme doivent au préalable se connecter à leur compte Paris 2024 depuis l'application. L'identité du Vendeur de billets n'est jamais communiquée à l'Acquéreur et inversement (le Vendeur ne connaît pas l'identité de l'Acquéreur).   </p>
    <br>
    <b> Plateforme On Location  </b>
    <p>On Location https://onlocationexp.com/olympics/fr, est l'opérateur officiel d'hospitalité de Paris 2024. On Location a reçu l'autorisation de réserver des billets pour les Jeux Olympiques et Paralympiques pour ses clients. Le cas échéant, On Location collecte les données personnelles des Acheteurs et des Porteurs de billets sous sa propre responsabilité, en tant que responsable de traitement, et transmettra ces données personnelles à Paris 2024. La collecte initiale des données personnelles des Acheteurs et des Porteurs de billets est effectuée par On Location conformément à sa propre politique de confidentialité, disponible sur sa plateforme. Les données personnelles des porteurs de billets sont traitées par Paris 2024 après leur acceptation du billet. Les données personnelles seront alors traitées par Paris 2024 pour les finalités précisées à la Section 3 ci-dessous et conformément à la présente politique de confidentialité.   </p>
    <br>
    <b> Intégration de clients dans le back office billetterie  </b>
    <p>Paris 2024 peut être amené à créer des profils de clients et à gérer les factures de billets directement sur le back office de la plateforme de billetterie.  Les données personnelles des Acheteurs et des Porteurs de Billets sont alors collectées et traitées par Paris 2024 pour les finalités spécifiées à la Section 3 ci-dessous et conformément à la présente Politique de Confidentialité.    </p>
    <br>
    <b> Volontaires Paris 2024 </b>
    <p>Les données personnelles des Volontaires de Paris 2024 qui participent à la convention des volontaires seront intégrées dans l'application de billetterie de Paris 2024 afin de fournir aux participants des titres d’accès digitaux pour l'événement. Les données personnelles des volontaires seront traitées par Paris 2024 aux fins spécifiées dans la Section 3 ci-dessous et conformément à la présente politique de confidentialité. </p>
    <br>
    <b> Titres d’accès Quais Hauts </b>
    <p>Les informations personnelles des Utilisateurs s'inscrivant sur la plateforme e délivrance des titres d’accès « Quais Hauts » seront intégrées dans l'application de billetterie de Paris 2024 afin de fournir aux participants des titres d’accès digitaux pour l'événement. Les données personnelles des Porteurs seront traitées par Paris 2024 aux fins spécifiées dans l'article 3 ci-dessous et conformément à la présente politique de confidentialité. </p>

    <h3 class="mt-3">3. Pour quelles finalités sont traitées vos données personnelles ? </h3 class="mt-3">
    <p>Lorsque certaines de vos données sont essentielles à la poursuite de certaines finalités et afin de vous répondre ou de répondre à une obligation légale, nous vous en informerons lors de la collecte. Vos données personnelles sont collectées et utilisées de différentes manières. Vous serez directement informés, sur les pages de collecte des données, des usages spécifiques envisagés par Paris 2024 en tant que responsable de traitement. En général, vos données sont collectées d’après les bases juridiques et objectifs suivants : </p>

    <h5>3.1 POUR L'EXÉCUTION DE NOTRE RELATION CONTRACTUELLE OU DES MESURES PRÉCONTRACTUELLES PRISES À VOTRE DEMANDE (VEUILLEZ VOUS RÉFÉRER À L'ARTICLE 4 CI-DESSOUS POUR LE DÉTAIL DES FINALITÉS)   </h5>
    <ul>
    <li>Faciliter votre utilisation des services ce qui comprend la gestion de votre compte utilisateur (le traitement des données personnelles pour la création de compte, et la gestion des identités et des accès en lien avec votre compte, étant de la responsabilité conjointe de Paris 2024 et du CIO) ;</li>

    <li>Gérer la création de votre profil sur le Site / Application ; </li>

    <li>Gérer votre participation aux tirages au sort ; </li>

    <li>Gérer vos achats de billets ; </li>

    <li>Gérer vos remboursements de billets ; </li>

    <li>Gérer la souscription à une assurance annulation ; </li>

    <li>Gérer les donations faites aux associations sélectionnées par Paris 2024 ; </li>

    <li>Gérer l’achat de votre billet souvenir ; </li>

    <li>Gérer la transmission de billet depuis un Acheteur vers un Porteur de billet ; </li>

    <li>Gérer la revente des billets sur la plateforme de revente ; </li>

    <li>Gérer la délivrance de votre billet ou de votre titre d’accès sur l’Application ; </li>

    <li>Gérer votre accès à l’évènement ; </li>

    <li>Gérer les produits que la plateforme de billetterie pourrait mettre à votre disposition à l’avenir ; </li>

    <li>Vous fournir les informations et contenus que vous avez demandés ; </li>

    <li>Vous fournir des services client.</li>
    </ul>
    <br>
    <h5  >3.2 POUR RESPECTER NOS OBLIGATIONS JURIDIQUES, COMPTABLES ET FISCALES (GESTION DES DEMANDES D’EXERCICE DE VOS DROITS, TENUE D’UNE LISTE DES OBJECTIONS AUX COMMUNICATIONS MARKETING, ETC.)</h5>

    <ul>
    <li>La gestion des droits des personnes concernées ;</li>

    <li>Gérer le consentement des utilisateurs ; </li>

    <li>Gérer la réconciliation financière. </li>
    </ul>
    <h5>3.3 A moins que vous vous opposiez et dans les limites de vos INTÉRÊTS ET DE VOS DROITS, POUR RÉPONDRE À NOS BESOINS ORGANISATIONNELS ET OPÉRATIONNELS LÉGITIMES : </h5>

    <ul>
    <li>Elaborer des statistiques sur la fréquentation et améliorer le fonctionnement, la sécurité et l’efficacité du site Web et/ou de l’Application ; </li>

    <li>Développer et promouvoir les Jeux et le mouvement olympique (communication, prospection et notamment envoi de messages concernant notre actualité, amélioration de la connaissance des personnes avec lesquelles nous sommes en contact afin de personnaliser notre communication, élaboration de statistiques, réalisation d'enquêtes de satisfaction, etc.); </li>

    <li>Vous offrir une expérience personnalisée basée sur vos préférences ;</li>

    <li>Maintenir et développer le Site et/ou l’Application ;</li>

    <li>S’assurer de la sécurité du Site et/ou de l’Application, par une utilisation conformément aux lois applicables, </li>

    <li>Gérer les litiges ou contentieux</li>

    <li>Lutter contre la fraude (fraude à l’achat de billet, lors du paiement, incidents de cybersécurité) ; </li>

    <li>Gérer le respect des obligations légales, comptables et fiscales de Paris 2024 et des conditions générales d'utilisation du Site </li>
    </ul>
    <h5 class="p-font font-size-xxl u-font-weight-600" >3.4 SI VOUS Y CONSENTEZ EXPLICITEMENT </h5>
    <ul>
    <LI>Vous envoyez des communications marketing ; </LI>
    <LI>Produire des analyses statistiques basées sur les cookies optionnels. </LI>
    </ul>
    

    <h3>4. Quelles sont les données a caractere personnel traitées ?  </h3>
    Les données personnelles que nous collectons comprennent les données que vous fournissez lorsque vous faites une demande ou utilisez les Site web, les finalités pour lesquelles Paris 2024 utilise vos données personnelles sont indiquées dans le tableau ci-dessous. Ce tableau peut être complété par des informations additionnelles au moment de la collecte des données.    </p>
    <table class="table border"" >
        <thead>
            <tr>
                <th  colspan="2">Finalités</th>
                <th>Données traitées</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Création de compte, gestion des identités et des accès*</td>
                <td></td>
                <td>Informations d’identification (Nom complet,Identifiant Unique de Compte)  <br>Informations de contact (adresse email)  <br>Information d’authentification (e-mail, mot de passe identifiant unique de compte) <br>Informations de connexion et de navigation (Mot de passe, date de création) </td>
            </tr>
            <tr>
                <td>Gestion du profil de billetterie</td>
                <td></td>
                <td>Nom, prénom, <br>Adresse e-mail  <br>Identifiant du portail de billetterie <br></td>
            </tr>
            <tr>
                <td>Gestion de la vente des billets</td>
                <td></td>
                <td>Nom, prénom, <br>Adresse E-mail   <br>Informations relatives à la carte de crédit  <br>Informations relatives à la commande (N° de commande, N° de Client) </td>
            </tr>

        </tbody>
    </table>
    <br>

    <h3 class="mt-3">5. Combien de temps vos données a caractère personnel sont-elles conservées ? </h3 class="mt-3">
    <p>Vos données seront conservées par Paris 2024 pour la durée nécessaire à l’accomplissement des finalités précitées. A l’issue de ces délais, vos données seront, le cas échéant, archivées pour une durée n’excédant pas les délais de prescription légale ou les obligations d’archivage applicables ou pour la durée de la procédure en cas de litige. Passé ces délais, les données seront détruites par Paris 2024.  </p>

    <ul>
        <li>Pour la <b>création de compte et la gestion des accès</b> : jusqu'à ce que l'utilisateur supprime son compte</li>
        <li>Pour la <b>gestion de la vente des billets</b> : 7 ans (Pratique générale en Europe)   </li>
        <li>Pour la <b>gestion de remboursement de billets </b> : 5 ans après la vente (Pratique générale en Europe)   </li>
        <li>Pour la <b>délivrance des billets, la délivrance des accès à la convention des Volontaires, la délivrance des titres d’accès Quais Hauts  </b> : jusqu’à 6 mois après la fin des jeux Paralympiques   </li>
        <li>Pour le <b>contrôle d’accès</b>: jusqu’à deux mois après la fin des jeux paralympiques. La validation de votre présence lors des sessions (date et lieu du scan de votre titre d’accès) pourront etre conservées jusqu’à 6 ans après la fin des jeux pour permettre les remboursements le cas échéant. </li>
        <li>Pour <b>la gestion des litiges ou contentieux en lien avec les activités sur la Plateforme</b>: Jusqu'à la fin de la gestion du litige (en cas de litige, jusqu'à l'expiration des délais de recours)</li>
        <li>Pour <b>la gestion des droits des personnes concernées et le respect des obligations légales, comptables et fiscales de Paris 2024</b> : 6 mois après la création des données  </li>

    </ul>
    <p>En cas de transfert de vos données aux destinataires tiers détaillés dans la Section 6, ceux-ci peuvent conserver vos données pendant la durée indiquée dans leurs politiques de confidentialité respectives.  </p>


    <h3 class="mt-3">6. A qui vos données a caractère personnel sont-elles communiquées ?</h3 class="mt-3">
    <p>Vos données à caractère personnel sont rendues accessibles aux prestataires techniques de Paris 2024 (« sous-traitants » au sens de la réglementation relative à la protection des données), pour les stricts besoins de leur mission et conformément à nos instructions, notamment dans le domaine de l’informatique (éditeurs de logiciels hébergés, services de développement de plateformes informatiques, services d’hébergement, services de relations avec la clientèle, services client, et autres services de communication, services d’analyse et de mesure, services de communication par courrier électronique et notification push, services internet sur lesquels nous publions nos annonces publicitaires, etc.)   </p>
    <p>Paris 2024 est susceptible de transmettre vos données aux destinataires suivants : </p>

    <ul>
        <li>Le CIO, en application des accords entre Paris 2024 et le CIO, pour les finalités déterminées par le CIO  notamment pour mieux connaître ses fans, évaluer les performance de ses environnements digitaux ou activités liées aux Jeux Olympiques, personnaliser ses services, produits et activités marketing et, si vous y avez consenti, vous envoyer son marketing direct, y compris le marketing lié à ses produits, services et partenaires. Le partage de données décrit dans ce sous-paragraphe est basé sur le consentement (lorsque vous l'avez fourni) ou sur l'intérêt légitime du CIO à remplir les objectifs énoncés dans ce sous-paragraphe. Sous réserve de certaines exceptions, vous avez le droit de vous opposer à ces activités de traitement. Vous pouvez contacter Paris 2024 par les moyens décrits au paragraphe 8 ci-dessous, ou vous pouvez contacter directement le CIO pour exercer ce droit d'opposition. Les coordonnées du CIO figurent dans sa politique de confidentialité, dont un lien a été inclus dans ce sous-paragraphe  </li>
        <li>Allianz, qui agit en tant que responsable de traitement indépendant pour la gestion du contrat d’assurance si vous avez choisi d’y souscrire.  </li>
        <li>Les autres parties prenantes du Mouvement olympique, y compris les Fédérations Internationales, les Comités Nationaux Olympiques, les autres Comités d'organisation des Jeux Olympiques et les partenaires commerciaux du CIO, si vous consentez à recevoir leurs communications marketing, le Comité ou le Partenaire utilisant vos données conformément à leurs politiques de confidentialité. </li>
        <li>Le Comité International Paralympique (« IPC »), le Comité National Olympique et Sportif Français (« CNOSF ») et le Comité Paralympique et Sportif Français (« CPSF »), si vous acceptez de recevoir leurs communications marketing, le Partenaire utilisant vos données conformément à sa politique de confidentialité.</li>
        <li>Le service français de cyber-Gendarmerie, qui agit en tant que responsable de traitement indépendant pour la lutte contre les fraudes. </li>
        <li>Le cas échéant, des instituts de sondage nationaux ou privés afin de mener à bien des enquêtes concernant les conséquences de l’organisation des Jeux, sous réserve de votre accord. </li>
        <li>On Location peut ponctuellement être destinataire de vos informations personnelles si vous êtes acheteur de package hospitalité, afin de lui permettre de vous fournir le niveau de service adéquat.</li>
    </ul>
    <b> Les billets des parties prenantes </b> <br>
    <p>Compte tenu de l'origine des données à caractère personnel des personnes concernées précisées à l'article 2, en cas de cession du billet du Porteur initial à un Porteur ultérieur, certaines données à caractère personnel du bénéficiaire (nom et prénom) peuvent être transférées par Paris 2024 à la partie prenante concernée afin de permettre à la partie prenante de réaliser les finalités suivantes : (i) son suivi des billets attribués et son contrôle de l'absence d'irrégularité dans la distribution des billets attribués au Porteur, (ii) sa gestion de la relation client avec ses partenaires et clients, et (iii) son respect des conditions générales et particulières applicables aux billets, du plan d'utilisation des billets, du guide de la billetterie et du code de conduite qui ont été acceptés par la partie prenante.</p>

    <h3 class="mt-3">7. Comment vos données sont-elles protégées en cas de transfert ?</h3 class="mt-3">
    <p>Les données collectées par Paris 2024 en tant que responsable du traitement, pour les finalités énumérées aux Sections 2 et 3 ci-dessus, sont protégées par des mesures techniques et organisationnelles appropriées contre les risques d’accès non autorisé ou de divulgation de vos données, conformément aux lois applicables.    </p>
    <p>En faisant appel à nos sous-traitants, vos données peuvent être transférées vers des pays tiers en dehors de l’Union européenne (UE) ou de l’Espace économique européen (EEE). Le cas échéant, et si le pays tiers ne bénéficie pas d’une décision d’adéquation rendue par la Commission européenne, ces sous-traitants ont mis en place les instruments régissant ces transferts conformément aux lois applicables, y compris les clauses contractuelles types applicables édictées par la Commission européenne. Pour en savoir plus sur les mesures mises en place ou pour obtenir une copie des garanties mises en œuvre en fonction du transfert effectué, nous vous invitons à effectuer une demande auprès du Délégué à la Protection des Données de Paris 2024 à l'adresse suivante <a href="mailto:dpo@paris2024.org">dpo@paris2024.org</a>.</p>
    <p>En cas de transfert de vos données à des tiers tels que le CIO ou les partenaires de Paris 2024, pour les finalités dont ils sont responsables conformément aux dispositions de la Section 5, ces tiers déterminent les mesures techniques et organisationnelles appropriées et, plus généralement, la façon dont ils respectent la protection de vos données personnelles.  </p>
    <br>

    <h3 class="mt-3">8. Quelle est la politique en matiere de cookies et traceurs ?   </h3>
    <p>Pour en savoir plus sur notre utilisation des cookies et autres traceurs sur le Site, et sur la façon de gérer votre consentement aux cookies, veuillez consulter la <a href="https://tickets.paris2024.org/credits/" target="_blank">Politique de gestion des cookies </a></p>

    <h3 class="mt-3" id="rights">9. De quels droits disposez-vous sur vos données a caractère personnel ? </h3>
    <p>Vous disposez des droits suivants sur vos données à caractère personnel :   </p>
    <ul>
        <li><b>Droit d’accès</b> : obtenir la confirmation que des données vous concernant sont ou ne sont pas traitées et, lorsqu’elles le sont, l’accès à ces données ainsi qu’à plusieurs informations sur ces traitements ; </li>
        <li><b>Droit de rectification</b> :  le droit de rectification des données inexactes ou obsolètes ;   </li>
        <li><b>Droit d’effacement</b> : le droit à l’effacement de certaines données à caractère personnel dans certains cas précis ; </li>
        <li><b>Droit de limitation</b> : la limitation des traitements dans certains cas ; </li>
        <li><b>Droit d’opposition</b> : vous opposer au traitement de vos données, pour des raisons tenant à votre situation particulière, ou, indépendamment de votre situation particulière, à l’utilisation de vos données à des fins de prospection ;  </li>
        <li><b>Droit de retirer votre consentement</b> : retirer votre consentement à tout moment, sans porter atteinte à la licéité du traitement s’il est fondé sur votre consentement ;  </li>
        <li><b>Droit de transmission (portabilité) </b> : recevoir les données que vous avez fournies à Paris 2024 et/ou demandé à Paris 2024 de les transmettre à un autre responsable du traitement, si le traitement est fondé sur votre consentement ou sur un contrat et que le traitement est automatisé ;  </li>
        <li><b>Droit de détermination post-mortem</b> : si vous résidez en France, définir le sort de vos données après votre mort.    </li>
    </ul>
    Conformément à ses obligations légales, Paris 2024 a désigné officiellement un Délégué à la protection des données (ou Data Protection Officer, ci-après « DPO ») auprès de la CNIL. Vous pouvez le contacter par email pour toute demande d’information complémentaire sur les traitements de vos données ou pour l’exercice de vos droits à l’adresse DPO@paris2024.org. Il pourra vous être demandé de joindre, si nécessaire, en cas de doute raisonnable exprimé par les équipes DPO, un document en mesure de prouver votre identité pour légitimer votre demande.  <br>


    <p><u><b>Pour exercer vos droits : </b></u></p>
    <ul>
        <li>Jusqu’à la fin des jeux paralympiques, pour toutes les finalités mises en œuvre par Paris 2024 en application de la présente Politique de Confidentialité, vous pouvez demander la suppression de vos données personnelles utilisées par nos services ou la rectification de votre adresse email.  <br>
        <li>Vous pouvez demander l’accès, à vos données personnelles utilisées par nos services ou vous opposer à un traitement des données.  Veuillez noter qu’il sera nécessaire de fournir toute preuve documentaire pour prouver votre identité et justifier votre demande. <br>

    </ul>

    <p>Il vous est rappelé que Paris 2024 peut, conformément à la réglementation, être amené à refuser de faire droit à certaines demandes concernant certains de ces droits (notamment le droit de suppression), pour des motifs légitimes tels que les besoins de la défense de droits en justice ou les nécessités d’une obligation légale de conservation de certaines données.  </p>
    <p>Pour exercer vos droits ou poser toute question relative à la collecte et au traitement de vos informations personnelles sur la Plateforme, il vous suffit d’écrire à l’adresse suivante : DPO@paris2024.org  </p>
    <p>En cas de difficulté non résolue, vous pouvez présenter une réclamation auprès de l’autorité de contrôle compétente, qui est, en France, la Commission nationale de l’informatique et des libertés (CNIL).  </p>
    <br>
    <p>
        <a class="" asp-area="" asp-controller="Home" asp-action="Index">← Retour à la page d’accueil</a>
    <p>
</div>

